@font-face {
  font-family: open-sans;
  src: url("../public/Font/open-sans/OpenSans-Regular.ttf");
  font-family: Barlow-condensed;
  src: url("../public/Font/Barlow_Condensed/BarlowCondensed-Regular.ttf");
}
* {
  font-family: "open-sans", " Roboto", serif !important;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow-condensed", "Roboto" "serif " !important;
  font-stretch: condensed;
}

::selection {
  color: white;
  background: rgb(133, 195, 58);
}

.App {
  text-align: center;
}

.button {
  background-color: rgba(133, 195, 57, 1);
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  transition: 0.5s;
  background-color: rgb(103, 165, 27);
  color: white;
  animation: outerShadow 0.5s;
  scale: 0.9;
}

@keyframes outerShadow {
  0% {
    box-shadow: 0px 0 0px rgba(103, 165, 27, 0.5),
      -0px 0 0px rgba(103, 165, 27, 0.5);
  }
  50% {
    box-shadow: 10px 0px 10px rgba(103, 165, 27, 0.5),
      -10px 0px 10px rgba(103, 165, 27, 0.5);
  }
  100% {
    box-shadow: 40px 0px 20px rgba(103, 165, 27, 0),
      -40px 0px 20px rgba(103, 165, 27, 0);
  }
}
